<div id="content" class="content">
  <div class="container">
    <h1> About Me </h1>
    <div class="row row-space-30">
 <hr/>
      <div class="col-md-9">
        <ul class="post-list">
          <li>
            <div class="post-left-info">
              <div class="post-likes">
              </div>
            </div>
            <div class="post-content">
              <div class="post-info">
                <div class="col-md-6">
                  <img id="img-me" src="assets/images/mauro.jpg" alt="Mauricio Castillo"/>
                </div>
                <div class="col-md-6">
                  <h4 class="post-title">
                    Mauricio Castillo
                  </h4>
                  <div class="post-by">
                    <i>
                      Universidad del Valle
                    </i>
                  </div>
                  <div class="post-desc">
                    <p>
                    Hago parte del equipo de desarrollo del proyecto PlayTherapy, en el cual he estado durante 12 meses. Donde e obtenido experiencia con la metodologia de desarrollo SCRUM, además de conocimientos en la implementacion de video juegos mediante el uso del motor grafico UNITY, desarrollo de aplicaciones web utilizado los Framework Django.
                    </p>

                    <p>
                    Como experiencia academica e obtenido conocimientos en los lenguajes de programación: Python, C#, PHP, JavaScript, TypeScripts, C++ y Java. Tambien he colaborado en realización de proyectos freelance en SEO, Java EE, Angular 4, Joomla y bases de datos en MYSQL, PostgreSQL y SQLite.
                    </p>
                  </div>

                    <h4>Información Adicional:</h4>
                    <p>
                      <b>
                        Tecnologías recientes:</b>
                      Angular ,Django (Python), Java, Ruby, PostgreSQL, Mysql, C#, C++, HTML5, Bootstrap, Git, Php
                    </p>

                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="section-container">
          <h4 class="section-title"><span>Contacto</span></h4>
            <li>
              <br>
              mauroatm@gmail.com <br>
              mauricio.mina@correounivalle.edu.co
              <a href="https://github.com/mauromina">GitHub<i class="fa fa-github"></i></a>
            </li>
            <li>
              <p>+57 314 500 00 20</p>
            </li>
        </div>
      </div>
    </div>
  </div>
</div>
