<div class="component" *ngIf="movies">
<h2>{{title}} </h2>

<mat-grid-list cols="4" >
    <mat-grid-tile [style.background-image]="'url('+tmdbHelper.getUrlSrc(movie.poster_path)+')'" (click)="goMovie(movie.id);" *ngFor="let movie of movies | async">
       <span class="subtittle">
           <p class="subtittle-text">
               {{movie.original_title}}
           </p>

       </span>
    </mat-grid-tile>
</mat-grid-list>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="12"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()">
</div>
<div *ngIf="!finished">
  Loading more movies...
</div>
<div *ngIf="finished">
  End of database... That's all folks!
</div>
