<div>

  <mat-toolbar color="primary" class= "fixed-header">
    <h2>  TMDB </h2>
    <mat-icon ></mat-icon>
    <!-- Formualario de Busqueda-->
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <div class="searching">
          <input type="text" class="form-control" placeholder="Search an actor" [(ngModel)]="query" name="query" (ngModelChange)="queryTyping()">
          <div *ngIf="persons" class="pull-right query-list">
            <div class="person-tile" *ngFor="let person of persons">
              <a (click)="goProfile(person.id);">
                <div class="profile-image">
                  <img src="{{tmdbHelper.getUrlSrc(person.profile_path)}}" style="width: 25px; margin-right: 10px;" />{{person.name}}
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="input-group-btn">
          <button class="btn btn-default" (click)="clear()">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button (click)="goPopularMovies()" mat-menu-item>Popular Movies</button>
    <button (click)="openMenu()" mat-menu-item>Popular Actors</button>
    <button (click)="openMenu()"mat-menu-item>About Me</button>
  </mat-menu>

  <span class="done">
    <button mat-fab (click)= "goHome()">
      <mat-icon>home</mat-icon>
    </button>
  </span>

</div>
