/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    margin: 3%;
    font-family: Roboto, sans-serif;
    background: url(assets/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }

  mat-toolbar-row {
    justify-content: space-between;
  }

  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }
.component{
  padding: 0 15%;
}

md-grid-tile{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.subtittle{
  background-color:rgba(0,0,0,0.2);
  position: absolute;
  bottom: 1%;
  width: 100%;
}

.subtittle-text{
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  padding: 3%;
  font-family: "Noto Sans",Helvetica,Arial,sans-serif !important;
}
mat-grid-tile{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
